- content_for :devise_form do
  %h2.heading.text-4xl.font-bold.pt-4.mb-8 Resend unlock instructions
  = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
    = render "devise/shared/error_messages", resource: resource
    .mb-6
      = f.label :email, class: "label"
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "input"
    .mb-6
      = f.submit "Resend unlock instructions", class: "btn btn-default"
  %hr.border.mt-6/
  = render "devise/shared/links"
= render "devise/shared/form_wrap"
